<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
input[type=date], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<head>
<title>Ajouter une location</title>
</head>
<body>

<h1>Ajouter une location</h1>

<form method="POST">
  <label for="fname">Numero de chambre:</label><br>
  <input type="text" id="idChambre" name="idChambre"><br><br>

  <label for="lname">Nom du locataire:</label><br>
  <input type="text" id="nom" name="nom"><br><br>

  <label for="lname">Prenom du locataire:</label><br>
  <input type="text" id="prenom" name="prenom"><br><br>

  <label for="lname">Telephone du locataire:</label><br>
  <input type="text" id="telephone" name="telephone"><br><br>

  <label for="lname">Date du debut du sejour:</label><br>
  <input type="date" id="dateDeb" name="dateDeb"><br><br>

  <label for="lname">Date de fin de sejour:</label><br>
  <input type="date" id="dateFin" name="dateFin"><br><br>

  <input type="submit" value="Ajouter">
</form>

</body>
</html>



